@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Colors
$lightblue: #0290ff;
$coolblue: #4386bf;
$white: #fff;
$gray: #e8e8e8;
$black: #121212;

:root {
  --bubble-gum-pink: #ff5ab7;
  --black: #1e1e1e;
  --pinkish-grey: #c7c7c7;
  --very-light-pink: #c4c4c4;
  --white: #fafafa;
  --white-two: #fff;
  --black-two: #121212;
  --azure: #0290ff;
  --medium-blue: #307bbe;
  --pale-grey: #f5f6fa;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.navbar {
  height: 5.938rem;
  margin: 0 0 2.375rem;
  padding: 1.438rem 6.188rem 1.688rem 6.25rem;
  background-color: var(--white-two);
}

.book-CMS {
  height: 2.313rem;
  font-family: Montserrat;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--azure);
}

// General styling
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
}

// Navbar Style
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.688rem 6rem;
  background-color: $white;
  border-bottom: solid 1px $gray;
  top: 0;
  width: 100vw;
  z-index: 1;

  .nav-links {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 2.75rem;
  }

  h3 {
    font-size: 1.875rem;
    font-weight: bold;
    color: $lightblue;
  }

  a {
    font-size: 0.813rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.9px;
    color: $black;
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
    margin: 1.125rem 2.563rem 0.688rem 0;
    font-family: Montserrat;
    font-size: 0.813rem;

    &:hover {
      font-weight: 500;
      opacity: 1;
    }

    .active {
      font-weight: 500;
      opacity: 1;
    }
  }

  .iconButton {
    cursor: pointer;
    width: 2.813rem;
    height: 2.813rem;
    border-radius: 50%;
    border: 1px solid #e8e8e8;
    background-color: #fff;
    color: $lightblue;
  }
}

.book-list {
  width: 85%;
  height: 10.625rem;
  margin: 2.313rem 6.25rem 0;
  padding: 2rem 9.188rem 1.625rem 1.688rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: var(--white-two);

  .bookTitle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .book {
    display: flex;
    justify-content: space-between;
  }

  .action {
    opacity: 0.5;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-weight: bold;
    color: var(--black-two);
  }

  .title {
    font-size: 1.375rem;
    font-weight: bold;
    font-family: RobotoSlab;
    letter-spacing: -0.2px;
    color: var(--black-two);
  }

  .author,
  .category {
    font-size: 0.875rem;
    font-weight: 300;
    color: #4386bf;
  }

  .actions {
    display: flex;
    gap: 0.5rem;
    list-style: none;
    margin-top: 1rem;
  }

  .verticalDivider {
    width: 0.125rem;
    height: 1.5rem;
    background-color: $gray;
    margin: 0 1rem;
  }

  button {
    background: none;
    border: none;
    color: $coolblue;
    font-size: 0.875rem;
    font-weight: 300;
    transition: color 0.1s ease-in, font-weight 0.1s ease-in;
    cursor: pointer;

    &:hover {
      font-weight: 500;
      color: $lightblue;
    }
  }

}

.progressContainer {
  display: flex;
  align-items: center;
  gap: 1rem;

  .progressInfo {
    display: flex;
    align-items: center;
    gap: 1rem;

    .circularProgressContainer {
      width: 5.625rem;
      height: 5.625rem;
      padding: 0.63rem 0.625rem 0.75rem 0.75rem;
      display: flex;
      justify-content: center;
      align-items: center;

      .circularProgress {
        position: absolute;
        border-radius: 50%;
        width: 4.25rem;
        height: 4.25rem;
        border: 5px solid $lightblue;
        border-left-color: $gray;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }

    .progressNumber {
      h4 {
        font-size: 2rem;
        font-weight: 400;
        color: $black;
      }

      p {
        opacity: 0.5;
        font-size: 0.875rem;
        color: $black;
      }
    }
  }

  .progressDivider {
    width: 0.125rem;
    height: 4.375rem;
    margin: 0 3.688rem 0 4.938rem;
    background-color: $gray;
  }

  .chapterInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
  }

  .chapterCurrent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  h4 {
    opacity: 0.5;
    font-family: RobotoSlab;
    font-weight: 300;
    color: var(--black-two);
  }

  button {
    width: 11.5rem;
    height: 2.063rem;
    border-radius: 3px;
    background-color: var(--azure);
    color: var(--white-two);
  }
}

.line {
  height: 0.125rem;
  background-color: #e8e8e8;
  width: 100%;
  margin: 2.5rem 0 1.813rem;
}

//Form
.bookContainer {
  width: 85%;
}

.book-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 10rem;

  h3 {
    font-family: Montserrat;
    font-size: 1.25rem;
    font-weight: bold;
    color: #888;
  }

  .inputsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .book-title {
    width: 30%;
    height: 2.813rem;
    border-radius: 4px;
    border: solid 1px #e8e8e8;
    background-color: var(--white-two);
    padding: 1rem;
  }

  .book-author {
    width: 20%;
    height: 2.813rem;
    border-radius: 4px;
    border: solid 1px #e8e8e8;
    background-color: var(--white-two);
    padding: 1rem;
  }

  .book-category {
    width: 20%;
    height: 2.813rem;
    border-radius: 4px;
    border: solid 1px #e8e8e8;
    background-color: var(--white-two);
  }

  .add-button {
    width: 20%;
    border: none;
    border-radius: 3px;
    background-color: var(--azure);
    color: var(--white-two);
  }
}
